manifest {
    author = 'Andreas Bremges'
    description = 'CAMITAX: Taxon labels for microbial genomes'
    homePage = 'https://github.com/abremges/CAMITAX'
}
docker {
    enabled = true
}
process {
    $barrnap {
        container = 'quay.io/biocontainers/barrnap:0.8--0'
    }
    $bedtools {
        container = 'quay.io/biocontainers/bedtools:2.27.1--1'
    }
    $centrifuge {
        container = 'quay.io/biocontainers/centrifuge:1.0.3--py36pl5.22.0_2'
    }
    $checkm {
        container = 'quay.io/biocontainers/checkm-genome:1.0.11--0'
    }
    $diamond {
        container = 'quay.io/biocontainers/diamond:0.9.21--1'
    }
    $dada2 {
        container = 'quay.io/biocontainers/bioconductor-dada2:1.6.0--r3.4.1_0'
    }
    kaiju {
        container = 'quay.io/biocontainers/kaiju:1.6.2--pl5.22.0_0'
    }
    $mash {
        container = 'quay.io/biocontainers/mash:2.0--gsl2.2_2'
    }
    $prodigal {
        container = 'quay.io/biocontainers/prodigal:2.6.3--0'
    }
}
