manifest {
    author = 'Andreas Bremges'
    description = 'CAMITAX: Taxon labels for microbial genomes'
    homePage = 'https://github.com/CAMI-challenge/CAMITAX'
    nextflowVersion = '>=19.01'
}
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}
process {
    withName:centrifuge {
        container = 'quay.io/biocontainers/centrifuge:1.0.3--py36pl5.22.0_2'
        cpus = 8
        memory '24 GB'
    }
    withName:checkm {
        container = 'abremges/checkm-genome:1.0.11--0'
        cpus = 8
        memory '16 GB'
    }
    withName:dada2 {
        container = 'quay.io/biocontainers/bioconductor-dada2:1.6.0--r3.4.1_0'
        memory = '8 GB'
    }
    withName:kaiju {
        container = 'quay.io/biocontainers/kaiju:1.6.2--pl5.22.0_0'
        cpus = 8
        memory '16 GB'
    }
    withName:mash {
        container = 'quay.io/biocontainers/mash:2.0--gsl2.2_2'
    }
    withName:prodigal {
        container = 'quay.io/biocontainers/prodigal:2.6.3--0'
    }
}
