manifest {
    author = 'Andreas Bremges'
    description = 'CAMITAX: Taxon labels for microbial genomes'
    homePage = 'https://github.com/CAMI-challenge/CAMITAX'
    nextflowVersion = '>=19.01'
}
docker {
    enabled = false
    runOptions = '-u $(id -u):$(id -g)'
}
singularity {
    enabled = true
}
process {
    withName:centrifuge {
        container = 'quay.io/biocontainers/centrifuge:1.0.4--hd03093a_0'
        cpus = 8
        memory = 24.GB
    }
    withName:checkm {
        container = 'quay.io/biocontainers/checkm-genome:1.2.2--pyhdfd78af_1'
        cpus = 8
        memory = 16.GB
    }
    withName:dada2 {
        container = 'quay.io/biocontainers/bioconductor-dada2:1.28'
        memory = 8.GB
    }
    withName:kaiju {
        container = 'quay.io/biocontainers/kaiju:1.6.2--pl5.22.0_0'
        cpus = 8
        memory = 16.GB
    }
    withName:mash {
        container = 'quay.io/biocontainers/mash:2.0--gsl2.2_2'
    }
    withName:prodigal {
        container = 'quay.io/biocontainers/prodigal:2.6.3--0'
    }
}
